<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StroopColorGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A82B73F31B72865100894121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8AD6DF91B688F4A00705480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8AD6E121B688F4A00705480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
